<div class="container" ng-init="FindReposity();">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Search Repositories
            </li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h5>Search</h5>
        </div>

        <div class="card-body">            
            <standard-input customize="form-control col-md-5"
                            value=repositoryFilter
                            type="string"
                            readonly=false
                            placeholder="Type..."
                            label="Filter: ">
            </standard-input>
        </div>
    </div>
    <hr />
    <div class="card" ng-if="repository.length">
        <div class="card-header d-flex align-items-center">
            <h5>Resultado: {{repository.length}} itens</h5>
        </div>

        <div class="card-body">
            <table class="table table-responsive table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>Description</th>
                        <th>Private</th>
                        <th>Owner</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="a in filtered = (repository | filter:repositoryFilter)" ng-class="{'table-danger positivo-cursor-pointer': a.cancelada }">
                        <td ng-click="detailsRepository(a.id)">{{ a.name }}</td>
                        <td><a href="{{a.pathUrl}}">{{ a.path }}</a></td>
                        <td ng-click="detailsRepository(a.id)">{{ a.description }}</td>
                        <td ng-click="detailsRepository(a.id)">{{ a.private ? 'Yes' : 'No'}}</td>
                        <td><a href="{{a.loginUrl}}">{{ a.login }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer">            
            <button type="button" class="btn btn-info" ng-click="LoadMore()">Load More...</button>
        </div>
    </div>
</div>
<details-modal detail-id=detailID></details-modal>

